// 单行溢出隐藏
.text-of-single {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
//多行溢出隐藏
.text-of-multi {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
// ::-webkit-scrollbar {
//     width: 5px;
//     height: 15px;
// }

// ::-webkit-scrollbar-track-piece {
//     background-color: rgba(0, 0, 0, 0.2);
// }
// ::-webkit-scrollbar-thumb:vertical {
//     height: 5px;
//     background-color: #E0E0E0;
// }
// ::-webkit-scrollbar-thumb:horizontal {
//     width: 5px;
//     background-color: #E0E0E0;
// }
// ::-webkit-scrollbar-thumb {
//     /*滚动条里面小方块*/
//     border-radius: 10px !important;
//     box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
//     background: #535353;
// }
//  ::-webkit-scrollbar-track {
//     /*滚动条里面轨道*/
//     box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
//     border-radius: 10px !important;
//     background: #ededed;
// }
.area-title{
    font-size: 20px;
    font-weight: 600;
    margin:6px 0;
    vertical-align: middle;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top:30px;
    margin-bottom: 10px;
  }
  .el-loading-spinner{
     .el-icon-loading{
        font-size: 20px;
        color: #999 !important;
      }
      .el-loading-text{
        font-size: 14px;
        color: #999 !important;
      }
  }
  //高亮搜索项的关键词
  .tip-list .tip-name .highlight {
    color: #409EFF ;
  }
