*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}
i{  font-style: normal; }
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #515154
}

button,
input,
select {
    outline: none;
    margin: 0;
}



img,
video {
    height: auto;
    max-width: 100%;
}

iframe {
    border: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}